<footer class="bg-light text-dark mt-auto">
	<div class="container text-center py-3">
		<p class="mb-0">
			&copy; <%= Time.current.year %> User Posts Project. All rights reserved.
			<br>
			Developed by Andy Clemens.
		</p>
	</div>
</footer>